.chat {
    height: 650px;
    width: 800px;
    background-color: #fcebde;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.messages {
    height: 470px;
    overflow-y: scroll;
}

.message-form {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

input {
    width: 500px;
    height: 25px;
    margin: 5px;
}

button {
    margin-right: 40px;
    background-color: #b69b84;
    margin-top: 30px;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 15px;
}

p {
    display: inline-block;
}

.message-block {
    height: 50px;
    padding: 20px 40px;
}

.author {
    font-weight: 600;
}

.date {
    color: darkgray;
}